<label>
  Data count:
  <input type="number" [(ngModel)]="pageSize">
</label>
<button type="button" (click)="updateData()">update data</button>
<ng-container *ngIf="products">
  <div *ngFor="let product of products; let index = index">
    {{ product.id }} - {{ product.name}}
    <button type="button" (click)="startUpdatingProduct(index)">update</button>
    <button type="button" (click)="deleteProduct(index)">delete</button>
  </div>
</ng-container>
<button type="button" *ngFor="let page of pages" (click)="changePage(page + 1)">{{ page + 1 }}</button>
<div class="m-t-15">
  <button type="button" (click)="changeCreating()">{{ this.creating ? 'stop creating' : 'start creating' }}</button>
  <form *ngIf="creating" [formGroup]="creatingForm" (submit)="createProduct()">
    <label>
      Id:
      <input type="text" formControlName="id" /><br />
    </label>
    <label>
      Name:
      <input type="text" formControlName="name" /><br />
    </label>
    <button type="submit">create</button>
  </form>
</div>
<div *ngIf="updating" class="m-t-15">
  <form [formGroup]="updatingForm" (submit)="updateProduct()">
    <label>
      Id:
      <input type="text" formControlName="id" /><br />
    </label>
    <label>
      Name:
      <input type="text" formControlName="name" /><br />
    </label>
    <button type="button" (click)="cancelUpdating()">cancel</button>
    <button type="submit">update</button>
  </form>
</div>
